span.select2-selection.select2-selection--single{ padding-bottom: 29px; border-color: #cccccc;}
input.select2-search__field{ border-color: #cccccc;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

span.select2-selection__arrow {  margin-top: 4px;  }
a,h1,h2,h3,h4,h5,h6,span,p,strong,select,b,i,input,textarea,li,label,td,th,button,radio,checkbox,div{
    text-transform: uppercase;
}
.select2{
    width: 100%!important;
}

th.actions_column, td.actions_column{
    text-align: center;
    width:15%;
}
th.amounts_column, td.amounts_column{
   text-align: right;
}
th.date_column,td.date_column{
    text-align: right;
    width:15%;
}
th.qty_column, td.qty_column{
    text-align: center;
    width: 15%;
}
